@use 'base/variables' as v;
@use 'base/mixins' as m;


.footer{
    padding: 2rem 0;
    border-bottom: .5rem solid v.$primario;
    &__grid{
        @include m.tablet{  
            display: flex;
            justify-content: space-between;
        }        
    }
    &__copyright{
        font-size: 2rem;
        text-align: center;
        margin-top: 5rem;
        @include m.tablet{  
            margin: 0;
        }
    }
}